<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="tmpl20_TrendPage">
  <Property Name="Description" Value="Template trend page - visualisation of temperature"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="20"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="FrameLayer">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="286868" Value="Example for trend control"/>
          <Text ID="286869" Value="The trend shows the CPU temperature and the interior temperature of the panel. To modify it, change the data points in the trend data."/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="286868" Value="Beispiel für Trend control"/>
          <Text ID="286869" Value="Der Trend zeigt die CPU Temperatur und die Innentemperatur des Panels. Um dies zu ändern bitte die Datenpunkte in Trend Data ändern."/>
        </TextLayer>
        <TextLayer LanguageId="pt-BR">
          <Text ID="286868" Value=""/>
          <Text ID="286869" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="286868" Value=""/>
          <Text ID="286869" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="286868" Value=""/>
          <Text ID="286869" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="pt">
          <Text ID="286868" Value=""/>
          <Text ID="286869" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sv">
          <Text ID="286868" Value=""/>
          <Text ID="286869" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="286868" Value="2"/>
          <Index ID="286869" Value="7"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtGroupControl">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="700"/>
          <Property Name="Left" Value="157"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[GroupControl]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="38"/>
          <Property Name="Width" Value="1076"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHelpText">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="72"/>
          <Property Name="Left" Value="163"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Help]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="440"/>
          <Property Name="Width" Value="418"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="pt-BR"/>
        <TextLayer LanguageId="es"/>
        <TextLayer LanguageId="fr"/>
        <TextLayer LanguageId="pt"/>
        <TextLayer LanguageId="sv"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001011" Name="TrendView">
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="309"/>
          <Property Name="Left" Value="180"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="93"/>
          <Property Name="TrendConfig" Value="Source[local].Trend[Trend_Temperature]"/>
          <Property Name="Width" Value="1010"/>
        </Control>
        <Control ClassId="0x0000100D" Name="lineCPUTemp">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="292"/>
          <Property Name="EndY" Value="400"/>
          <Property Name="ForeColor" Value="4"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StartX" Value="274"/>
          <Property Name="StartY" Value="400"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
        </Control>
        <Control ClassId="0x0000100D" Name="lineRoomTemp">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="292"/>
          <Property Name="EndY" Value="421"/>
          <Property Name="ForeColor" Value="125"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StartX" Value="274"/>
          <Property Name="StartY" Value="421"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRoomTemp">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="303"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="1200"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="411"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtCpuTemp">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="303"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="1201"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="90"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[TrendView]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[globalArea].Control[Numeric_1]"/>
  </TabSequence>
</Page>