<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.7.54 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="tmpl31_AlarmHistoryPage">
  <Property Name="Description" Value="Template alarm history page - historical alarms"/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="31"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1366"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="FrameLayer">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="286888" Value="Example for alarm control"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="286888" Value="Beispiel für Alarm Control"/>
        </TextLayer>
        <TextLayer LanguageId="pt-BR">
          <Text ID="286888" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="286888" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="286888" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="pt">
          <Text ID="286888" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="sv">
          <Text ID="286888" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="286888" Value="3"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtGroupControl">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="700"/>
          <Property Name="Left" Value="157"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[GroupControl]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="38"/>
          <Property Name="Width" Value="1076"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1366"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="pt-BR"/>
        <TextLayer LanguageId="es"/>
        <TextLayer LanguageId="fr"/>
        <TextLayer LanguageId="pt"/>
        <TextLayer LanguageId="sv"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="cmdAlarmUp">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="815"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollUp]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="123"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmUp]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdAlarmDown">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="815"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollDown]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="453"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmDown]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdAlarmPgUp">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="815"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollUpMulti]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="173"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmPgUp]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdAlarmPgDown">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="815"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ScrollDownMulti]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="403"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[AlarmPgDown]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtInactiveTab">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="27"/>
          <Property Name="Left" Value="161"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[TabInactive]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtInactiveTab1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="267"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[TabActive]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="102"/>
        </Control>
        <Control ClassId="0x00001009" Name="AlarmHistory">
          <Property Name="AcknowledgeState_Alignment" Value="Right"/>
          <Property Name="AcknowledgeState_BitmapGroup" Value="Source[local].BitmapGroup[AlarmAcknowledgeState]"/>
          <Property Name="AcknowledgeState_BitmapIndex" Value="0"/>
          <Property Name="AcknowledgeState_Format" Value="Bitmap"/>
          <Property Name="AcknowledgeState_Position" Value="Column 3"/>
          <Property Name="AcknowledgeState_SeparatorTextGroup" Value="None"/>
          <Property Name="AcknowledgeState_Width" Value="35"/>
          <Property Name="AlarmNumber_Position" Value="None"/>
          <Property Name="AlarmState_Position" Value="None"/>
          <Property Name="AlarmText_Alignment" Value="Left"/>
          <Property Name="AlarmText_Position" Value="Column 2"/>
          <Property Name="AlarmText_SeparatorTextGroup" Value="None"/>
          <Property Name="AlarmText_Width" Value="410"/>
          <Property Name="BypassState_Position" Value="None"/>
          <Property Name="ColumnCount" Value="3"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Cursor_LeftBitmap" Value="None"/>
          <Property Name="Cursor_LeftTextGroup" Value="None"/>
          <Property Name="Cursor_RightBitmap" Value="None"/>
          <Property Name="Cursor_RightTextGroup" Value="None"/>
          <Property Name="DateTime_Alignment" Value="Left"/>
          <Property Name="DateTime_FormatStringBaseIndex" Value="0"/>
          <Property Name="DateTime_FormatStringTextGroup" Value="Source[local].TextGroup[DateTimeFormats]"/>
          <Property Name="DateTime_Position" Value="Column 1"/>
          <Property Name="DateTime_SeparatorTextGroup" Value="None"/>
          <Property Name="DateTime_Width" Value="150"/>
          <Property Name="Description" Value=""/>
          <Property Name="Event_Position" Value="None"/>
          <Property Name="GroupNumber_Position" Value="None"/>
          <Property Name="Height" Value="380"/>
          <Property Name="Left" Value="157"/>
          <Property Name="Node1" Value="User order"/>
          <Property Name="Priority_Position" Value="None"/>
          <Property Name="SortColumn" Value="Time"/>
          <Property Name="SortOrder" Value="Descending"/>
          <Property Name="Source" Value="History"/>
          <Property Name="SpacingVertical" Value="5"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="118"/>
          <Property Name="Width" Value="620"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_3]"/>
          <Property Name="Height" Value="26"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="160"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="94"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_3]"/>
          <Property Name="Width" Value="104"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_3">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[tmpl30_AlarmPage]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Line Down"/>
              <Property Name="Control" Value="Source[local].Page[tmpl31_AlarmHistoryPage].Layer[Default].Control[AlarmHistory]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmPgDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Down"/>
              <Property Name="Control" Value="Source[local].Page[tmpl31_AlarmHistoryPage].Layer[Default].Control[AlarmHistory]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmPgUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Page Up"/>
              <Property Name="Control" Value="Source[local].Page[tmpl31_AlarmHistoryPage].Layer[Default].Control[AlarmHistory]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="AlarmUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016E">
              <Property Name="Action" Value="Line Up"/>
              <Property Name="Control" Value="Source[local].Page[tmpl31_AlarmHistoryPage].Layer[Default].Control[AlarmHistory]"/>
              <Property Name="Description" Value=""/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[AlarmHistory]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[AlarmHistory]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[AlarmHistory]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[AlarmHistory]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[AlarmHistory]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[AlarmHistory]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[globalArea].Control[Numeric_1]"/>
  </TabSequence>
</Page>